<mat-toolbar class="navbar">
    <span>
      <img *ngIf="role === 'ROLE_UNREGISTERED'" title="Home" class="img-responsive" src="assets/images/pod-blood-icon.png" routerLink="/landingPage"/>
      <img *ngIf="role !== 'ROLE_UNREGISTERED'" title="Home" class="img-responsive" src="assets/images/pod-blood-icon.png" routerLink="/homePage"/>
    </span>
    <span>
        <button *ngIf="role === 'ROLE_UNREGISTERED'" mat-button routerLink="/login">Login</button>
        <button *ngIf="role === 'ROLE_UNREGISTERED'" mat-button routerLink="/registration">Registration</button>
        <button *ngIf="role === 'ROLE_SYSTEMADMIN' || role === 'ROLE_CENTERADMIN'" mat-button routerLink="/users">Users</button>
        <button *ngIf="role !== 'ROLE_CENTERADMIN'" mat-button routerLink="/centerList">List of medical center</button>
        <button *ngIf="role === 'ROLE_CENTERADMIN'" mat-button routerLink="/appointments">Appointments</button>
        <button *ngIf="role === 'ROLE_SYSTEMADMIN'" mat-button routerLink="/complaints">Complaints</button>
        <button *ngIf="role === 'ROLE_REGISTERED'" mat-button [matMenuTriggerFor]="menu">Medical center</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/registration">Upcomming appointments</button>
            <button mat-menu-item routerLink="/registration">History of appointments</button>
        </mat-menu>
        <button *ngIf="role !== 'ROLE_UNREGISTERED'" mat-icon-button [matMenuTriggerFor]="menuProfile">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menuProfile="matMenu">
            <button *ngIf="role === 'ROLE_REGISTERED'" mat-menu-item routerLink="/userProfile">My profile</button>
            <button *ngIf="role === 'ROLE_CENTERADMIN'" mat-menu-item routerLink="/userProfileCentreAdmin">My centre admin profile</button>
            <button *ngIf="role === 'ROLE_CENTERADMIN'" mat-menu-item routerLink="/blood">Blood in stock</button>
            <button *ngIf="role === 'ROLE_CENTERADMIN'" mat-menu-item routerLink="/center">Center</button>
            <button *ngIf="role === 'ROLE_REGISTERED'" mat-menu-item routerLink="/login">My complaints</button>
            <button mat-menu-item (click)="LogOut()">Log out</button>
        </mat-menu>
    </span>
</mat-toolbar>