<app-navbar></app-navbar>

<div class="div-search">
    <form class="example-form">      
        <div>
          <mat-label class="label-sort">Sort:</mat-label>
          <div class="sort-items">
            <div class="div-holder">
              <mat-form-field appearance="fill" class="mat-field-space">
                <mat-label>Sort by:</mat-label>
                <mat-select (selectionChange)="sortBy($event.value)">
                  <mat-option *ngFor="let criteria of allCriterias" [value]="criteria.value">
                    {{criteria.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="div-holder">
              <mat-form-field appearance="fill" class="mat-field-space">
                <mat-label>Ascending/Discending</mat-label>
                <mat-select (selectionChange)="sort($event.value)">
                  <mat-option *ngFor="let direction of allDirections" [value]="direction.value">
                    {{direction.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
      </div>
      </form>
</div>

<div *ngFor="let donor of allDonors">
    <div class="review-holder">
    <mat-card class="example-card">
        <mat-card-content class="mat-card-font">
          <h1>{{ donor.name }} {{donor.surname}}</h1>
          <p>{{donor.email}}</p>
          <p>Gave blood: {{donor.gaveBlood[2]}}/{{donor.gaveBlood[1]}}/{{donor.gaveBlood[0]}} {{donor.gaveBlood[3]}}:{{donor.gaveBlood[4]}}</p>
        </mat-card-content>
    </mat-card>
    </div>
    <br>
    <br>
</div>

