<app-navbar></app-navbar>

<div class="div-search">
    <form class="example-form">      
        <div>
          <mat-label class="label-sort">Sort:</mat-label>
          <div class="sort-items">
            <div class="div-holder">
              <mat-form-field appearance="fill" class="mat-field-space">
                <mat-label>Sort by name</mat-label>
                <mat-select (selectionChange)="sortByName($event.value)">
                  <mat-option *ngFor="let direction of allDirections" [value]="direction.value">
                    {{direction.viewValue}}
                  </mat-option>
                  <mat-option>None</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="div-holder">
              <mat-form-field appearance="fill" class="mat-field-space">
                <mat-label>Sort by surname</mat-label>
                <mat-select (selectionChange)="sortBySurname($event.value)">
                  <mat-option *ngFor="let direction of allDirections" [value]="direction.value">
                    {{direction.viewValue}}
                  </mat-option>
                  <mat-option>None</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="div-holder">
              <mat-form-field appearance="fill" class="mat-field-space">
                <mat-label>Sort by date</mat-label>
                <mat-select (selectionChange)="sortByDate($event.value)">
                  <mat-option *ngFor="let direction of allDirections" [value]="direction.value">
                    {{direction.viewValue}}
                  </mat-option>
                  <mat-option>None</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
      </div>
      </form>
</div>
<div>
  <div *ngFor="let filteredAndSorted of allFilteredAndSorted">
      <div class="review-holder" class="div-inline">
          <mat-card class="example-card">
              <mat-card-content class="mat-card-font">
                <h1>{{ filteredAndSorted.name }} {{ filteredAndSorted.surname }}</h1>
                <p>{{filteredAndSorted.email}}</p>
                <p>Gave blood: {{filteredAndSorted.gaveBlood[2]}}/{{filteredAndSorted.gaveBlood[1]}}/{{filteredAndSorted.gaveBlood[0]}} {{filteredAndSorted.gaveBlood[3]}}:{{filteredAndSorted.gaveBlood[4]}}</p>
              </mat-card-content>
          </mat-card>
          </div>
      <br>
      <br>
  </div>
</div>

<div *ngFor="let donor of allDonors">
    <div class="review-holder">
    <mat-card class="example-card">
        <mat-card-content class="mat-card-font">
          <h1>{{ donor.name }} {{donor.surname}}</h1>
          <p>{{donor.email}}</p>
          <p>Gave blood: {{donor.gaveBlood[2]}}/{{donor.gaveBlood[1]}}/{{donor.gaveBlood[0]}} {{donor.gaveBlood[3]}}:{{donor.gaveBlood[4]}}</p>
        </mat-card-content>
    </mat-card>
    </div>
    <br>
    <br>
</div>

