.example-card{
    width: 50%;
    max-height: 700px;
    background-color:#DCDCDC;
    border-radius: 2.5%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.review-holder {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.mat-card-font {
    font-size:18px;
}

.div-search {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.div-inline {
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgb(255, 136, 136);
}

.example-full {
    width: 300px;
}