<app-navbar></app-navbar>

<div class="div-search">
    <form class="example-form">      
        <mat-form-field style="width:50vw" appearance="fill">
          <input type="text" (change)="setCenters()" class="mat-card-font" matInput placeholder="Search centers by name or address" name="search" [(ngModel)]="search">
          <button matSuffix mat-button (click)="searchCenters()"><mat-icon>search</mat-icon></button>
          <button *ngIf="searchCentersOn" matSuffix mat-button (click)="disableSearch()"><mat-icon>highlight_off</mat-icon></button>
        </mat-form-field>
        <div class="div-holder">
          <mat-form-field appearance="fill" class="mat-field-space">
            <mat-label>Rating</mat-label>
            <mat-select (selectionChange)="filterRating($event.value)">
              <mat-option *ngFor="let rating of ratings" [value]="rating.value">
                {{rating.viewValue}}
              </mat-option>
              <mat-option>None</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-label class="label-sort">Sort:</mat-label>
          <div class="sort-items">
            <div class="div-holder">
              <mat-form-field appearance="fill" class="mat-field-space">
                <mat-label>Sort by name</mat-label>
                <mat-select (selectionChange)="sortByName($event.value)">
                  <mat-option *ngFor="let direction of allDirections" [value]="direction.value">
                    {{direction.viewValue}}
                  </mat-option>
                  <mat-option>None</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="div-holder">
              <mat-form-field appearance="fill" class="mat-field-space">
                <mat-label>Sort by city</mat-label>
                <mat-select (selectionChange)="sortByCity($event.value)">
                  <mat-option *ngFor="let direction of allDirections" [value]="direction.value">
                    {{direction.viewValue}}
                  </mat-option>
                  <mat-option>None</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="div-holder">
              <mat-form-field appearance="fill" class="mat-field-space">
                <mat-label>Sort by rating</mat-label>
                <mat-select (selectionChange)="sortByRating($event.value)">
                  <mat-option *ngFor="let direction of allDirections" [value]="direction.value">
                    {{direction.viewValue}}
                  </mat-option>
                  <mat-option>None</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
      </div>
      </form>
</div>

<div class="review-holder" *ngIf="role === 'ROLE_SYSTEMADMIN'"><button mat-mini-fab (click)="showAddCenter()">+</button></div>
<app-register-center *ngIf="addForm == true" (onClose)="RegisterCenterClosed($event)"></app-register-center>

<div>
  <div *ngFor="let filteredAndSorted of allFilteredAndSorted">
      <div class="review-holder" class="div-inline">
          <mat-card class="example-card">
              <mat-card-content class="mat-card-font">
                <h1>{{ filteredAndSorted.name }}</h1>
                <p>{{ filteredAndSorted.city }}, {{ filteredAndSorted.street }} {{ filteredAndSorted.houseNumber }}</p>
                <p>{{ filteredAndSorted.description }}</p>
                <p>Rating: {{ filteredAndSorted.rating }}</p>
              </mat-card-content>
          </mat-card>
          </div>
      <br>
      <br>
  </div>
</div>

<div *ngFor="let center of allCenters">
    <div class="review-holder">
    <mat-card class="example-card">
        <mat-card-content class="mat-card-font">
          <h1>{{ center.name }}</h1>
          <p>{{ center.city }}, {{ center.street }} {{ center.houseNumber }}</p>
          <p>{{ center.description }}</p>
          <p>Rating: {{ center.rating }}</p>
        </mat-card-content>
    </mat-card>
    </div>
    <br>
    <br>
</div>

