.review-holder {
    margin-top: 1%;
    display: flex;
    justify-content: center;
}
.example-card{
    width: 70%;
    max-height: 700px;
    background-color:rgb(255, 236, 236);
    border-radius: 2.5%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mat-card-font {
    font-size:18px;
}
.example-part-width{
    border-radius: 5px;
    width: 90%;
    padding: 1% 2%;
    display: block;
    float: left;
    position: relative;
  }

.input-answer{
    height: 30px;
    width: 90%;
    border: 0;
    margin: 1%;
    font-size: medium;
}
.complaint{
    padding: 1%;
    margin: 1%;
    border-radius: 2px;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.align-div{
    border-radius: 2px;
    padding: 2px;
    background-color: white;
    border-bottom: 3px solid rgb(255, 136, 136);
    float:left;
}
.answername-div{
    padding: 1px;
    border-bottom: 2px solid rgb(255, 136, 136);
    float:left;
}
.align-div-right{
    float:right;
}