<app-navbar></app-navbar>
<div>
    <div class="items">
        <img class="img-responsive" src="assets/images/images.png" />
        <mat-card class="example-card">
            <mat-card-title>Your tools</mat-card-title>
            <mat-card-actions>
              <button title="View QR code" mat-icon-button routerLink="/registration">
                <mat-icon>settings_overscan</mat-icon>
                <mat-label>QR code</mat-label>
              </button>
              <div>
                <mat-icon>pan_tool</mat-icon>
                <mat-label>Penalty number: {{penals}}</mat-label>
              </div>
              <button title="Take survey" mat-icon-button routerLink="/takeSurvey">
                <mat-icon>assignment</mat-icon>
                <mat-label>Take survey</mat-label>
              </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>